<div class="col-md-12" *ngIf="loading">
    <simple-loader></simple-loader>
</div>

<div *ngIf="!loading">
    <div class="col-md-12 text-center">
        <div class="alert alert-info">
            Username: admin@core.com<br />
            Password: P@ssw0rd
        </div>
        <h2>Login</h2>
        <form name="form"
              (ngSubmit)="login(loginForm)"
              #loginForm="ngForm"
              novalidate>
            <fieldset>
                <div class="form-group"
                     [ngClass]="{'has-error' : (username.touched || username.dirty) && !username.valid}">
                    <label for="username">Username</label>
                    <input type="email"
                           class="form-control"
                           name="username"
                           pattern="[a-z0-9._%+-]+@[a-z0-9.-]+"
                           placeholder="Use email..."
                           [(ngModel)]="model.username"
                           #username="ngModel"
                           required
                           minlength="6" />
                    <div *ngIf="(username.touched || username.dirty) && !username.valid"
                         class="help-block">
                        <span *ngIf="username.errors.required">
                            Username is required
                        </span>
                        <span *ngIf="username.errors.pattern">
                            Please enter valid email
                        </span>
                    </div>
                </div>
                <div class="form-group"
                     [ngClass]="{'has-error': (password.touched || password.dirty) && !password.valid}">
                    <label for="password">Password</label>
                    <input type="password"
                           class="form-control"
                           name="password"
                           [(ngModel)]="model.password"
                           #password="ngModel"
                           required
                           minlength="6" />
                    <div class="help-block"
                         *ngIf="(password.touched || password.dirty) && !password.valid">
                        <span *ngIf="password.errors.required">
                            Password is required
                        </span>
                        <span *ngIf="password.errors.minlength">
                            Password length must be atleast 6 characters
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit"
                            [disabled]="!loginForm.valid"
                            class="btn btn-primary">
                        Login
                    </button>
                </div>
                <!--<div *ngIf="error" class="alert alert-danger">{{error}}</div>-->
            </fieldset>
        </form>
    </div>
    <div class="col-md-12 text-center">
        <a class="btn btn-success" [routerLink]="['/register']">Register</a>
    </div>
</div>