<div class="col-md-12" *ngIf="loading">
    <simple-loader ></simple-loader>
</div>

<div class="col-md-6 col-md-offset-3" *ngIf="!loading">
    <div class="alert alert-info">
        Username: admin@core.com<br />
        Password: P@ssw0rd
    </div>
    <h2>Login</h2>
    <form name="form" (ngSubmit)="login(model)" novalidate>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required />
            <!--<div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>-->
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
            <!--<div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>-->
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Login</button>
        </div>
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    </form>
</div>