<simple-loader *ngIf="loading"></simple-loader>

<div class="col-md-12 text-center row" *ngIf="!loading">
    <div *ngIf="!success">
        <form class="col-md-12"
              novalidate
              (ngSubmit)="register()"
              [formGroup]="userForm">
            <fieldset>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group"
                             [ngClass]="{'has-danger': firstNameErrMessage, 'has-success': this.userForm.get('firstName').touched && !firstNameErrMessage}">
                            <label class="form-control-label"
                                   for="firstNameId">First Name</label>
                            <input type="text" id="firstNameId"
                                   class="form-control"
                                   [ngClass]="{'form-control-success': this.userForm.get('firstName').touched && !firstNameErrMessage}"
                                   placeholder="First Name (required)"
                                   formControlName="firstName" />
                            <div class="form-control-feedback"
                                 *ngIf="firstNameErrMessage">
                                {{firstNameErrMessage}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group"
                             [ngClass]="{'has-danger': lastNameErrMessage, 'has-success': this.userForm.get('lastName').touched && !lastNameErrMessage}">
                            <label class="form-control-label"
                                   for="lastNameId">Last Name</label>
                            <input type="text" id="lastNameId"
                                   class="form-control"
                                   [ngClass]="{'form-control-success': this.userForm.get('lastName').touched && !lastNameErrMessage}"
                                   placeholder="Last Name (required)"
                                   formControlName="lastName" />
                            <div class="form-control-feedback"
                                 *ngIf="lastNameErrMessage">
                                {{lastNameErrMessage}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group"
                             [ngClass]="{'has-danger': emailErrMessage, 'has-success': this.userForm.get('email').touched && !emailErrMessage}">
                            <label class="form-control-label"
                                   for="emailId">Email</label>
                            <input type="text" id="emailId"
                                   class="form-control"
                                   [ngClass]="{'form-control-success': this.userForm.get('email').touched && !emailErrMessage}"
                                   placeholder="Email (required)"
                                   formControlName="email" />
                            <div class="form-control-feedback"
                                 *ngIf="emailErrMessage">
                                {{emailErrMessage}}
                            </div>
                        </div>
                    </div>
                    <div formGroupName="passwordGroup"
                         class="row col-md-12 no-margin no-padding"
                         [ngClass]="{'has-danger': passwordErrMessage}">
                        <div class="col-md-12">
                            <div class="form-group"
                                 [ngClass]="{'has-danger': passwordErrMessage, 'has-success': this.userForm.get('passwordGroup.password').touched && !passwordErrMessage}">
                                <label class="form-control-label"
                                       for="passwordId">Password</label>
                                <input type="password" id="passwordId"
                                       class="form-control"
                                       [ngClass]="{'form-control-success': this.userForm.get('passwordGroup.password').touched && !passwordErrMessage}"
                                       placeholder="Password (required)"
                                       formControlName="password" />
                                <div class="form-control-feedback"
                                     *ngIf="passwordErrMessage">
                                    {{passwordErrMessage}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group"
                                 [ngClass]="{'has-danger': passwordConfirmErrMessage || userForm.get('passwordGroup').errors,
                                             'has-success': this.userForm.get('passwordGroup.passwordConfirm').touched && !passwordConfirmErrMessage}">
                                <label class="form-control-label"
                                       for="passwordConfirmId">Confirm Password</label>
                                <input type="password" id="passwordConfirmId"
                                       class="form-control"
                                       [ngClass]="{'form-control-success': this.userForm.get('passwordGroup.passwordConfirm').touched && !passwordConfirmErrMessage}"
                                       placeholder="Confirm Password (required)"
                                       formControlName="passwordConfirm" />
                                <div class="form-control-feedback"
                                     *ngIf="passwordConfirmErrMessage || userForm.get('passwordGroup').errors">
                                    <span *ngIf="passwordConfirmErrMessage">
                                        {{passwordConfirmErrMessage}}
                                    </span>
                                    <span *ngIf="userForm.get('passwordGroup').errors?.match">
                                        The confirmation does not match the password.
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 has-danger form-group" *ngIf="serverErrors">
                        <div class="alert alert-danger" role="alert" *ngFor="let error of serverErrors">
                            {{error}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button class="btn btn-primary"
                                type="submit"
                                [disabled]="!userForm.valid">
                            Register
                        </button>
                        <button class="btn btn-danger"
                                type="button"
                                (click)="populateTestData()">
                            Populate Test Data
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

    <div class="success-alert-container col-md-12" *ngIf="success">
        <div class="align-middle alert alert-success" role="alert">
            <strong>Success!</strong> You can now <a [routerLink]="['/login']" class="text-primary">login</a>.
        </div>
    </div>
</div>

<br>Dirty: {{userForm.dirty}}
<br>Touched: {{userForm.touched}}
<br>Valid: {{userForm.valid}}
<br>Value: {{userForm.value | json}}