<a class="nav-link dropdown-toggle"
   href="#"
   id="nav-userDropdownMenuLink"
   data-toggle="dropdown"
   aria-haspopup="true"
   aria-expanded="false">
    <span *ngIf="!user">
        Authenticate
    </span>
    <span *ngIf="user">
        <img [src]="user.avatarLink" alt="Alternate Text" class="user-thumbnail"/>
        {{user.firstName}} {{user.lastName}}
    </span>
</a>
<div class="dropdown-menu" aria-labelledby="nav-userDropdownMenuLink">
    <a class="dropdown-item"
       [routerLink]="['/login']"
       *ngIf="!loggedIn">Login</a>
    <a class="dropdown-item"
       [routerLink]="['/register']"
       *ngIf="!loggedIn">Register</a>
    <a class="dropdown-item"
       (click)="logout()"
       *ngIf="loggedIn">Logout</a>
</div>