<h2>Blogs</h2>

<simple-loader *ngIf="!blogs"></simple-loader>

<div class='container' *ngIf="blogs">
    <div class="col-md-12">
        <div class="padding-5" *ngFor="let blog of blogs">
            <div class="post-item padding-5 row">
                <div class="col-12">
                    <a [routerLink]="['/users', blog.ownerName]">
                        <h3>{{ blog.title }}</h3>
                    </a>
                    <p>{{ blog.summary }}</p>
                </div>
                <div class="col-6">
                    Dated : {{ blog.from | date:'MM/dd/yyyy HH:mm' }}
                </div>
                <div class="col-6 text-right">
                    by
                    <a [routerLink]="['/users', blog.ownerName]">
                        {{ blog.ownerName }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>