<h4>The people behind this: </h4>

<simple-loader *ngIf="!users"></simple-loader>

<div class="list-group" *ngIf="users">
    <a *ngFor="let user of users; let i = index"
       [routerLink]="['/users', user.username]"
       class="list-group-item list-group-item-action row"
       [ngClass]="{'active': i % 2 == 0}">

        <div [ngClass]="i % 2 == 0 ? 'col-8': 'col-4'">
            <img src="{{user.avatarLink}}" alt="" class="img-responsive" *ngIf="i % 2 != 0" />
            <h4 class="list-group-item-heading" *ngIf="i % 2 == 0" >{{ user.username }}</h4>
        </div>
        <div [ngClass]="i % 2 == 0 ? 'col-4': 'col-8'">
            <img src="{{user.avatarLink}}" alt="" class="img-responsive" *ngIf="i % 2 == 0" />
            <h4 class="list-group-item-heading" *ngIf="i % 2 != 0">{{ user.username }}</h4>
        </div>
        <div class="col-12">
            <p class="list-group-item-text">
                {{i}} Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
            </p>
        </div>
    </a>
</div>